/* Reset */
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}

/* Id Selectors */
#brand {
    font-size: 1.2em;
}
#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcome div {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    border-radius: 20px;
    outline: 1px solid rgba(254,99,2,.50);
    font-weight: 550;
    font-size: 3.5em;
    box-shadow: 5px 5px 20px black;
    transform: translate(0,-8rem);
}
#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#about .content-image, #about .content-text {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
#about .content .content-image, #about .content .content-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    border-radius: 20px;
    outline: 1px solid rgba(254,99,2,.50);
    font-weight: 400;
    font-size: 2em;
    box-shadow: 5px 5px 20px black;
    width: 30rem;
    height: 35rem;
    margin-top: 2.5rem;
}
#about p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
}
#about .content-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
#about img {
    width: 25rem;
    height: 30rem;
    border-radius: 20px;
    outline: 1px solid rgba(254,99,2,.50);
}
#projects .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#projects .project-tile {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    border-radius: 20px;
    outline: 1px solid rgba(254,99,2,.50);
    box-shadow: 5px 5px 20px black;
    width: 25rem;
    height: 30rem;
    margin-top: 2.5rem;
}
#projects .project-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
#projects .project-tile img {
    width: 20rem;
    height: 15rem;
    border-radius: 20px;
    outline: 2px solid rgba(254,99,2,.50);
}
#projects hr {
    width: 20rem;
    margin: 1.5rem 0;
    border-color: rgba(254,99,2,.50);
}
#projects .project-title {
    font-size: 1.5em;
}
#projects .project-summary {
    margin-top: .50rem;
    width: 20rem;
    overflow-y: scroll;
}
#contact .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
#contact #contact-row1, #contact #contact-row2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#contact #contact-row1 div, #contact #contact-row2 div {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    border-radius: 20px;
    outline: 1px solid rgba(254,99,2,.50);
    box-shadow: 5px 5px 20px black;
    width: 15rem;
    height: 15rem;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
#contact #contact-row1 div, #contact #contact-row2 div {
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .contact-icon {
    background-image: url('./images/socialMediaIcons.jpg');
    background-repeat: no-repeat;
    width: 9rem;
    height: 9rem;
    display: block;
    border-radius: 20px;
    outline: 2px solid rgba(254,99,2,.50);
}
#contact #instagram {
    background-position: -135px -210px;
}
#contact #facebook {
    background-position: -425px -210px;
}
#contact #youtube {
    background-position: -715px -210px;
}
#contact #linkedin {
    background-position: -1000px -210px;
}
#contact #twitter {
    background-position: -135px -470px;
}
#contact #tiktok {
    background-position: -425px -470px;
}

/* Element Selectors */
html {
    scroll-behavior: smooth;
}
body {
    background-image: url("./images/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header {
    background-color: black;
    box-shadow: 1px 0 10px rgba(254,99,2,.50);
    position: fixed;
    width: 100%;
}
nav {
    
    display: flex;
    margin: 25px;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 5em;
}
nav a {
    font-size: 1.5em;
    text-decoration: none;
}
section {
    width: 100%;
    height: 100%;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Class Selectors */
.title {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    border-radius: 20px;
    outline: 1px solid rgba(254,99,2,.50);
    font-weight: 400;
    font-size: 3em;
    box-shadow: 5px 5px 20px black;
    text-align: center;
    width: 35rem;
}